<% if object.errors.any? %>
<div id="error_explanation">
  <div class="form-error alert alert-error">
    <%= t('errors.template.body') %>
  </div>
  <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>